<!DOCTYPE html>
<html>
  <head>
    <title>File Exchanger | Upload Info</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/upload_info.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Upload Information</h1>
      <div class="upload-info">
        <p><strong>VPS Name:</strong> VPS {{response['instance_data']['aws_region']}}-{{response['instance_data']['instance_location_region']}}</p>
        <p><strong>Instance ID:</strong> {{ response['instance_data']['instance_id'] }}</p>
        <p><strong>Instance IP:</strong> {{ response['instance_data']['instance_public_ipv4'] }}</p>
        <p><strong>Instance location region:</strong> {{ response['instance_data']['instance_location_region'] }}</p>
        <p><strong>Upload Duration (sec):</strong> {{ response['duration'] }}</p>
        <p><strong>Upload Date:</strong> {{ response['data_time'] }}</p>
        <p><strong>Download Link:</strong> <a href="{{ url_for('download_info', file=response['filename']) }}" class="link">{{ response['download_link'] }}</a></p>
        
      </div>
      <a href="{{ url_for('upload') }}" class="back-link">Back to Upload</a>
    </div>
  </body>
</html>