
<!DOCTYPE html>
<html>
  <head>
    <title>File Exchanger | Upload</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/upload.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons/icon-upload.png') }}">
  </head>
  <body>
    <div class="top-container">
      <a href="{{ url_for('upload') }}" class="main-link"><strong>File Exchanger</strong></a>
      <a href="{{ url_for('uploads') }}" class="uploads-link">Uploads</a>
    </div>
   
    <div class="container">
      <h1>File uploading</h1>
      <form method="POST" action="{{ url_for('upload_info') }}">
        <label for="url">Paste the URL to download the file:</label>
        <input type="text" id="url" name="url" placeholder="https://example.com/filename.pdf" required>
        <button type="submit" class="submit-button">
          <span>Submit</span>
        </button>
      </form>
    </div>
  </body>
</html>