/* General Styles */

body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
  }
  
  .top-container{
	top: 0;
	left: 5px;
	right: 5px;
	position: absolute;
	padding: 20px;
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }

  .container {
	width: 800px;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 50px;
	background-color: #fff;
	border-radius: 25px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  }

  h1 {
	font-size: 36px;
	margin-bottom: 20px;
  }
  
  form {
	display: flex;
	flex-direction: column;
  }
  
  label {
	font-size: 24px;
	margin-bottom: 20px;
  }
  
  input[type="text"] {
	padding: 10px;
	font-size: 20px;
	border-radius: 20px;
	border: none;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .submit-button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 20px;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s ease;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	align-self: center;
  }
  
  .submit-button:hover {
	background-color: #3e8e41;
  }

  .main-link {
	display: inline-block;
	margin-left: 40px;
	font-size: 30px;
	color: #4CAF50;
	text-decoration: solid;
	transition: color 0.3s ease;
  }
  
  .main-link:hover {
	color: #3e8e41;
  }

  .uploads-link {
	display: inline-block;
	margin-left: 70%;
	font-size: 25px;
	color: #4CAF50;
	text-decoration: solid;
	transition: color 0.3s ease;
  }
  
  .uploads-link:hover {
	color: #3e8e41;
  }
  
  /* Media Queries */
  
  @media only screen and (max-width: 600px) {
	.container {
	  padding: 20px;
	}
	
	h1 {
	  font-size: 24px;
	}
	
	input[type="text"] {
	  font-size: 16px;
	  padding: 5px;
	}
	
	.submit-button {
	  font-size: 16px;
	  padding: 5px 10px;
	}
  }
  